<h1>{{title}}</h1>

<p>{{description}}</p>

{{#if photo}}
  <center><img src="/images/products/{{photo}}" alt="" /></center>
{{/if}}

{{#if isStock}}
  <p>Precio: {{price}}</p>
{{else}}
  <p>No hay stock del producto</p>
{{/if}}